<taurusgui_config>
  <GUI_NAME>taurustest</GUI_NAME>
  <ORGANIZATION>MBI</ORGANIZATION>
  <CUSTOM_LOGO/>
  <MACROSERVER_NAME>tango://ubbox:10000/MacroServer/lab01/1</MACROSERVER_NAME>
  <DOOR_NAME>tango://ubbox:10000/Door/lab01/1</DOOR_NAME>
  <INSTRUMENTS_FROM_POOL>True</INSTRUMENTS_FROM_POOL>
  <PanelDescriptions>
    <PanelDescription>
  <name>form1</name>
  <classname>TaurusForm</classname>
  <modulename/>
  <widgetname/>
  <floating>True</floating>
  <sharedDataWrite/>
  <sharedDataRead/>
  <model>tango://ubbox:10000/tau/dummies/1/humidity, tango://ubbox:10000/tau/dummies/1/pos, tango://ubbox:10000/tau/dummies/1/temperature</model>
</PanelDescription>
  </PanelDescriptions>
  <ExternalApps>
    <ExternalApp>
      <command>/home/lucajul/my-taurus/taurus2.py</command>
      <params/>
      <text>taurus2</text>
      <icon>actions:gtk-bold.svg</icon>
    </ExternalApp>
  </ExternalApps>
  <MONITOR>tango://ubbox:10000/tau/dummies/1/pos</MONITOR>
</taurusgui_config>
